#cookie {
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Animation rebond + rotation */
@keyframes cookieClick {
  0% { transform: scale(1) rotate(0deg); }
  30% { transform: scale(0.9) rotate(-10deg); }
  60% { transform: scale(1.1) rotate(10deg); }
  100% { transform: scale(1) rotate(0deg); }
}

/* Classe déclencheur */
.clicked {
  animation: cookieClick 0.3s ease;
}
#cookie:hover {
  transform: scale(1.1) ;
  filter: drop-shadow(0 0 10px rgba(255, 200, 100, 0.5));
}