body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #fff7e6, #ffde82);
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  flex: 1;
}

/* --- Zone principale --- */
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-area p {
  font-size: 1.2rem;
  color: #6b4e16;
  margin-top: 1rem;
}

/* --- Cookie --- */
#cookie {
  width: 450px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

#cookie:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #006633);
}

@keyframes cookieClick {
  0%   { transform: scale(1) rotate(0deg); }
  30%  { transform: scale(0.97) rotate(-10deg); }
  60%  { transform: scale(1.03) rotate(10deg); }
  /* 100% { transform: scale(1) rotate(0deg); } */
}

.clicked {
  animation: cookieClick 0.4s ease;
}

/* --- Zone latérale (aside) --- */
.sidebar {
  width: 250px;
  background: #d1e7d6;
  border-left: 3px solid #006633;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  color: #81661c;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border: none;
  background: #08772d;
  color: #ffc832;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar button:hover {
  background: #006633;
  color : #fcd15c;
}

.sidebar button.locked {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  border: 2px solid #999;
}

.locked:hover {
  background-color: #ccc; /* pas d’effet hover si locked */
}